body
  font-family: "Open Sans", sans-serif
  
h1
  color: #ccc
  weight: 300
  
figure
  margin: auto
  
.content
  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center
    
  img
    max-width: 100%
    
  p
    text-align: justify
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    
//Parallax

.header_parallax
  position: relative
  height: 600px
  background: 
    image: url(/res/bg.jpg)
    size: 100% 610px
    position: top center
    attachment: fixed
  overflow: hidden

.logo
  height: 100px
  width: 100%
  background-image: url(/res/logo.svg)
  background-position: center
  background-repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -50px

.deer
  height: 113px
  width: 100%
  background-image:  url(/res/deer.png)
  background-position: left
  background-repeat: no-repeat
  position: absolute
  top: 70%
  left: 16%
  margin-top: -30px
  
.tiger
  height: 194px
  width: 100%
  background-image:  url(/res/tiger.png)
  background-position: right
  background-repeat: no-repeat
  position: absolute
  top: 70%
  margin-top: -50px

  
.eagle
  width: 960px
  height: 50px
  background-image: url(/res/eagle.png)
  background-repeat: no-repeat
  background-position: top left
  position: absolute
  top: 10%
  left: 50%
  margin-left: -480px
  
// Tiger grid

.tiger-pics
  margin-bottom: 100px
  
  figure
    margin-bottom: 20px
    position: relative
    opacity: 0
    transition: all 1s ease-in-out
    transform: translateX(20px)
    overflow: hidden
    
    &.first-left-img
      transform: translateX(-100%)
      
    &.first-right-img
      transform: translateX(100%)  
    
    &.is-showing
      opacity: 1
      transform: translateX(0px)
    
    figcaption
      position: absolute
      top: 10px
      left: -100%
      background: black
      color: white
      padding: 2px 8px
      font-size: 11px
      transition: all 0.4s ease-in-out
    
    img
      display: block
      transform: scale(1)
      border-radius: 40px
      transition: all 0.4s ease-in-out
      
    &:hover
      
      figcaption
        left: 0%
      
      img
        border-radius: 0px
      
//Large window
.large-window
  height: 640px
  background-image: url(/res/model.jpg)
  background-position: top center
  background-repeat: no-repeat
  background-attachment: fixed
  margin-top: 100px
  border-radius: 20%
    
      