<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4 wow fadeInDown" data-wow-delay="0.2s">
                <nav class="footer__menu">
                    <div><a>About</a></div>
                    <div><a>News</a></div>
                    <div><a>Help</a></div>
                    <div><a>Privacy</a></div>
                    <div><a>Terms</a></div>
                </nav>
                <div class="footer__copyright">
                    <p>© Copyright 2017 <span>GoodWay</span> All Right Reserved</p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 footer__social wow fadeInDown" data-wow-delay="0.4s">
                <div class="footer__social__icon footer__social__icon--facebook"></div>
                <div class="footer__social__icon footer__social__icon--twitter"></div>
                <div class="footer__social__icon footer__social__icon--instagram"></div>
                <div class="footer__social__icon footer__social__icon--pinterest"></div>
                <div class="footer__social__icon footer__social__icon--linkedin"></div>
            </div>
            <div class="col-xs-12 col-lg-4 wow fadeInDown" data-wow-delay="0.6s">
                <div class="footer__subscribe">
                    <form onsubmit="return false;">
                        <input type="text">
                        <input type="submit" value="Subscribe">
                    </form>
                    <div class="footer__subscribe__text">Join our newsletter subscription,
                        <span>be always informed</span></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER EOF   -->

<!-- BODY EOF  -->
<script type="text/javascript" src="js/jquery-min.js"></script>
<script type="text/javascript" src="js/bootstrap-min.js"></script>
<script type="text/javascript" src="js/wow-min.js"></script>
<script type="text/javascript" src="js/owl.carousel-min.js"></script>
<script type="text/javascript" src="js/custom-min.js"></script> 
<!--
    <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js" ></script>
<script type="text/javascript" src="js/components/slick.js" ></script>
<script type="text/javascript" src="js/custom.js" ></script>
-->
</body>
</html>
